{% extends 'layouts/a.html' %}



{% block content %}

{% include 'a_posts/post.html' %}

<div class="card !pb-0 -mt-3">
    <form method="POST" class="flex items-center p-4 space-x-2" action="{% url 'a_posts:comment_sent' post.id %}" autocomplete="off">
        {% csrf_token %}
        <div class="flex-grow">
            {{ form }}
        </div>
        <button @click="open = false" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition-colors" type="submit">Submit</button>
    </form>
</div>

{% if post.comments.count %}

<div class="mb-20">
    <div id="tabs" class="ml-4 flex gap-1 mb-4">
        <a class="tab selected">Newest First</a> 
        <a class="tab">Top Comments</a>
    </div>

    <div id="tab-contents">
        {% for comment in post.comments.all %}
            {% include 'a_posts/comment.html' %}
        {% endfor %}
    </div>
</div>

{% endif %}

{% endblock content %}